$mobile: "(max-width: 768px)";
$tablet: "(min-width: 769px) and (max-width: 1200px)";
$desktop: "(min-width: 1199px)";

@media #{$desktop} {


.navigation__bar{

  height: 3rem;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 1rem;



.navigation__menu{
  width:100%;

  display: flex;
  justify-content: center;
  align-items:center;
  position:fixed;
  background-color:#EFEFEF;
z-index: 1;



.navigation__elements {
  cursor: pointer;
  display: flex;
  width: 61.5%;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
    list-style-type: none;
  font-family: 'Megrim', cursive;
  font-size: 1.4rem;


  color: grey;
  :hover{
    -webkit-animation: shadow-drop-2-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }



}@-webkit-keyframes shadow-drop-2-tb {
   0% {
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
   100% {
     -webkit-transform: translateZ(50px);
     transform: translateZ(50px);
     -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
     box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
   }
 }
  @keyframes shadow-drop-2-tb {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
      box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }}


}}
}
@media #{$mobile} {
  .navigation__bar{


    //display: flex;
    //justify-content: center;
    //align-items:center;
    //margin-bottom: 1rem;



    .navigation__menu{

      width:100%;
      height: 6rem;
display: flex;

      justify-content: center;
      align-items:center;


      z-index: 1;
      flex-direction: column;




      .navigation__elements {
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        list-style-type: none;
        font-family: 'Megrim', cursive;
        font-size: 1.5rem;
        flex-direction: row;
        color: grey;

          border-bottom: 2px solid whitesmoke;
        border-top: 2px solid whitesmoke;



      }@-webkit-keyframes shadow-drop-2-tb {
         0% {
           -webkit-transform: translateZ(0);
           transform: translateZ(0);
           -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
           box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
         }
         100% {
           -webkit-transform: translateZ(50px);
           transform: translateZ(50px);
           -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
           box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
         }
       }
      @keyframes shadow-drop-2-tb {
        0% {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
          -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
          box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
        }}


    }}

}