$mobile: "(max-width: 768px)";
$tablet: "(min-width: 769px) and (max-width: 1200px)";
$desktop: "(min-width: 1199px)";

@media #{$desktop} {


    .font-awesome{

   display: none;
    }


    .navigation__elements {

      width: 75%;
      display: flex;
      align-items: center;
      position: fixed;
      background-color: #EFEFEF;
      height: 5rem;

      z-index: 1;
      color: grey;

      a {

        list-style-type: none;
        font-family: 'Megrim', cursive;
        font-size: 1.7rem;

        &:hover {
          cursor: pointer;
          color: #F8A5BF;
          font-weight: bold;
        }


      }
    }

}

@media #{$mobile} {

.navigation__mobileIcon {
  width: 100%;
  height: 3rem;
  display: flex;
  z-index: 5;
  background-color: grey;
position: fixed;
  .font-awesome {
    width: 15%;
    font-size: 2rem;
    border-radius: 5%;
margin:0.5rem;
    color: #F8A5BF;;
   }
}
    .navigation__elements {
display: none;
      width: 100%;
      flex-direction: column;
      justify-content: flex-end;
      background-color: #EFEFEF;
      height: 12rem;
      padding-bottom: 1rem;
      position: fixed;
      z-index: 3;
      color: grey;

      a {

        list-style-type: none;
        font-family: 'Megrim', cursive;
        font-size: 1.7rem;

        &:hover {
          cursor: pointer;
          color: #F8A5BF;
          font-weight: bold;
        }


      }

  }
}