$mobile: "(max-width: 768px)";
$tablet: "(min-width: 769px) and (max-width: 1200px)";
$desktop: "(min-width: 1199px)";

@media   #{$desktop,$tablet}{
  .widgetProducts__box {
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .widgetProducts__widgets {
      width: 30%;
      height: 15rem;
      background-color: #EEEAEE;
      align-items: center;
      display: flex;
      margin: 0;

      &:nth-of-type(2) {
        background-image: url("../../assets/564440-PL47KI-143.jpg");
        background-size: cover;
        background-repeat: no-repeat;

      }

      &:nth-of-type(3) {
        background-image: url("../../assets/miniPudełka-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      &:nth-of-type(1) {
        background-image: url("../../assets/2878411-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      span {
        width: 100%;
        height: 5rem;
        background-color: whitesmoke;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media  #{$mobile}{
  .widgetProducts__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    //border-bottom: 2px solid whitesmoke;
    //border-top: 2px solid grey;


    .widgetProducts__widgets {
      //border: 0.25rem solid #CECFD4;
      width: 100%;
      height: 15rem;
      background-color: grey;
      display: flex;
      align-items: center;
      margin: 1rem;
      //border-radius: 5%;


      &:nth-of-type(2) {
        background-image: url("../../assets/564440-PL47KI-143.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:nth-of-type(3) {
        background-image: url("../../assets/miniPudełka-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      &:nth-of-type(1) {
        background-image: url("../../assets/2878411-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      span {
        width: 100%;
        height: 10rem;
        background-color: whitesmoke;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}